http_addr = "0.0.0.0:8080"
log_level = "debug"
media_cache_path = "/tmp/mediacache"
database_url = "mysql://opticonpbx:opticonpbx@localhost:3306/opticonpbx"

# external IP address for SIP signaling and media
# if server is behind NAT, set your public IP here (without port)
external_ip = "69.94.84.199"
ssl_certificate = "config/certs/sip.irukandjilabs.com.crt"
ssl_private_key = "config/certs/sip.irukandjilabs.com.key"
https_addr = "0.0.0.0:443"

[console]
#session_secret = "please_change_me_to_a_random_secret"
base_path = "/console"
# allow self-service administrator signup after the first account
allow_registration = false

[proxy]
modules = ["acl", "auth", "registrar", "call"]
addr = "0.0.0.0"
realms = ["sip.irukandjilabs.com"]
udp_port = 5060
registrar_expires = 60
ws_handler = "/ws"
media_proxy = "auto"
# Base directory for generated routing/trunk/ACL files
generated_dir = "./config"
routes_files = ["config/routes/*.toml"]
trunks_files = ["config/trunks/*.toml"]
addons = ["acme"]
ssl_certificate = "config/certs/sip.irukandjilabs.com.crt"
ssl_private_key = "config/certs/sip.irukandjilabs.com.key"
tls_port = 5061

[proxy.transcript]
command = "sensevoice-cli"

# ACL rules
acl_rules = ["allow all", "deny all"]
acl_files = ["config/acl/*.toml"]

[[proxy.user_backends]]
type = "memory"
users = [
  { username = "bob", password = "123456" },
  { username = "alice", password = "123456" },
]

[[proxy.user_backends]]
type = "extension"
database_url = "mysql://opticonpbx:opticonpbx@localhost:3306/opticonpbx"

[callrecord]
type = "local"
root = "/tmp/recorders"

[recording]
enabled = true
auto_start = true
path = "/tmp/recorders"
# format can be "wav" (default) or "ogg" (requires enabling the 'opus' feature)
format = "ogg"
